
.chat-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

}


.message-item-user {
  justify-content: flex-end;
}

.message-item-bot {
  justify-content: flex-start;
}

.message-card {
  max-width: 80%;
}

.message-card-user {
  background-color: #1890ff;
}

.message-card-bot {
  background-color: #f0f2f5;
}




