.layout-container {
  min-height: 100vh;
  display: flex;
}

.main-layout {
  flex: 1 1 auto !important;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.breadcrumb-container {
  padding: 16px 24px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
}

.main-content {
  position: relative;
  overflow: auto;
  height: calc(100vh - 118px);
}

/* 路由过渡动画 */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 300ms;
} 